@model IEnumerable<Osiguranje.Models.Polisa>

@{
    ViewBag.Title = "Index";
}
<br />
<table width="100%">
    <tr>
        <td style="padding-bottom:10px;">
            <h2>Polise</h2>
        </td>
        <td align="right">
            <form name="pretraga" method="post">

                <div class="col-md-12">
                    <div class="col-md-2 col-md-offset-2">
                        <select id="SelectPretraga" class="form-control ">
                            <optgroup label="Klijent">
                                <option value="JMBG">JMBG</option>
                                <option value="Ime">Ime</option>
                                <option value="Prezime">Prezime</option>
                            </optgroup>
                            <optgroup label="Polisa">
                                <option value="IDPolisa">Sifra polise</option>
                                <option value="DatOd">Datum pocetka</option>
                                <option value="DatDo">Datum isteka</option>
                                <option value="Tarifa">Tarifa obracuna</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="col-md-2" style="padding:0;">
                        <input type="text" name="pretraga" id="pretraga" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <a href="" id="btnPretraga" class="btn btn-primary btn sm" onclick="onChange()">
                            Pretraga
                        </a>
                    </div>
                </div>
                <script type="text/javascript">
                    function onChange() {
                        var s = document.getElementById("SelectPretraga");
                        var v = s.options[s.selectedIndex].value;
                        var index = document.getElementById("pretraga").value;

                        if (v == "JMBG") {
                            var btn = document.getElementById("btnPretraga");
                            var link = '@Url.Action("JMBG", "Pretraga",new { id = "-1" })';
                            link = link.replace("-1", index);
                            btn.setAttribute("href", link);
                        }
                        if (v == "Ime") {
                            var btn = document.getElementById("btnPretraga");
                            var link = '@Url.Action("Ime", "Pretraga",new { id = "-1" })';
                            link = link.replace("-1", index);
                            btn.setAttribute("href", link);
                        }
                        if (v == "Prezime") {
                            var btn = document.getElementById("btnPretraga");
                            var link = '@Url.Action("Prezime", "Pretraga",new { id = "-1" })';
                            link = link.replace("-1", index);
                            btn.setAttribute("href", link);
                        }

                        if (v == "IDPolisa") {
                            var btn = document.getElementById("btnPretraga");
                            var link = '@Url.Action("IDPolisa", "Pretraga",new { id = "-1" })';
                            link = link.replace("-1", index);
                            btn.setAttribute("href", link);
                        }
                        if (v == "DatOd") {
                            var btn = document.getElementById("btnPretraga");
                            var link = '@Url.Action("DatOd", "Pretraga",new { id = "-1" })';
                            link = link.replace("-1", index);
                            btn.setAttribute("href", link);
                        }
                        if (v == "DatDo") {
                            var btn = document.getElementById("btnPretraga");
                            var link = '@Url.Action("DatDo", "Pretraga",new { id = "-1" })';
                            link = link.replace("-1", index);
                            btn.setAttribute("href", link);
                        }
                        if (v == "Tarifa") {
                            var btn = document.getElementById("btnPretraga");
                            var link = '@Url.Action("Tarifa", "Pretraga",new { id = "-1" })';
                            link = link.replace("-1", index);
                            btn.setAttribute("href", link);
                        }
                    }
                </script>
            </form>
        </td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DatOd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatDo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarifa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Premija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klijent.Ime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatOd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarifa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Premija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klijent.Ime)
            </td>

            <td align="right">
                <a href="@Url.Action("Details", "Polisa", new { id= item.IDPolisa})" class="btn btn-primary btn sm">
                    Detalji
                </a>
                <a href="@Url.Action("Delete", "Polisa", new { id= item.IDPolisa})" class="btn btn-danger btn sm">
                    Izbrisi
                </a>
            </td>
        </tr>
    }
</table>